networks:
  api_network:
    driver: bridge

services:
  api:
    networks:
      - api_network
    image: configurable-test-api:latest
    hostname: api
    container_name: api
    ports:
      - 8080:8080
    healthcheck:
      test: "curl localhost:8080/health"
    environment:
      PORT: 8080
      RUST_LOG: "INFO"
      ROUTE_HEALTH_PATH: "/health"
      ROUTE_HEALTH_METHOD: "GET"
      ROUTE_APP_PATH: "/app"
      ROUTE_APP_METHOD: "POST"
      ROUTE_APP_LATENCY: "10"
      ROUTE_APPLIST_PATH: "/apps"
      ROUTE_APPLIST_METHOD: "GET"
      ROUTE_APPGET_PATH: "/app/{id}"
      ROUTE_APPGET_METHOD: "GET"
